.DS_Store
*.pyc
.cache/*
vice_*armhf.deb
controller/
.pcsx/
bios/
screenshots/
*.pyc
*.pyc
database/local.db
assets/dat/
assets/test/
assets/fonts/MSGOTHIC.TTC
assets/dat/mame4all.dat
assets/dat/MAME 37b5.dat
assets/dat/mame4all.dat
assets/dat/n64.dat
assets/dat/nes.dat
assets/dat/snes.dat